@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EBEBEB;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 280px;
    padding: 20px;
    border-radius: 8px;
    background-color: #EBEBEB;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 1), 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.img {
    width: 150px;
    height: 150px;
    padding: 10px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 1), 4px 4px 10px rgba(0, 0, 0, 0.2);

}

.img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.container p:nth-child(2) {
    font-size: 26px;
    font-weight: 600;
}

.icons {
    display: flex;
    gap: 10px;
}

.icons a {
    position: relative;
    height: 40px;
    width: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.icons a::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    border-radius: 50%;
    box-shadow: -2px -2px 6px rgba(255, 255, 255, 1), 2px 2px 6px rgba(0, 0, 0, 0.2);

}

.fa-facebook {
    color: #4763A4;
}

.fa-twitter {
    color: #1BA3E8;
}

.fa-instagram {
    color: #CD9EAD;
}

.fa-youtube {
    color: #FB040D;
}

.buttons {
    display: flex;
    gap: 10px;

}

.buttons button {
    font-size: 14px;
    padding: 4px 16px;
    color: #4E4F5D;
    background: transparent;
    border: none;
    border-radius: 4px;
    box-shadow: -2px -2px 6px rgba(255, 255, 255, 1), 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.stats {
    margin-top: 10px;
    display: flex;
    gap: 20px;
    color: #4E4F5D
}